<div class="container">
  <div class="top-bar">
    <h2>Bem-vindo</h2>
    <div class="user-info">
      <h4>Logado como: {{ returnNick() }}</h4>
      <button class="button-logout" (click)="logout()">Sair</button>
    </div>
  </div>

  <button class="add-candidato" (click)="abrirModal()">
    Adicionar candidato
  </button>
  <p>Link para foto aleatória: https://picsum.photos/200/</p>

  <h3 class="titulo">Candidatos:</h3>

  <div class="lista-candidatos">
    @for (candidato of candidatos; track candidato.nome) {
    <div class="card">
      <app-candidate
        [nome]="candidato.nome"
        [foto]="candidato.foto"
        [quantidadeVotos]="candidato.quantidadeVotos"
      />
      <button class="votar" (click)="votar(candidato.id)">Votar</button>
    </div>
    }
  </div>
</div>

<!-- Modal -->
@if(mostrarModal){
<div class="modal-backdrop">
  <div class="modal">
    <button class="fechar-btn" (click)="fecharModal()">×</button>
    <label>Nome</label>
    <input [(ngModel)]="novoCandidato.nome" type="text" />

    <label>Link da foto</label>
    <input [(ngModel)]="novoCandidato.foto" type="text" />

    <button class="criar" (click)="adicionarCandidato()">Criar</button>
  </div>
</div>
}
