<div class="container">
  <h2>Bem vindo</h2>
  <button class="ver-resultados">Ver resultados</button>

  <h3 class="titulo">Candidatos/Filmes:</h3>

  <div class="lista-candidatos">
    @for (candidato of candidatos; track candidato.nome) {
    <div class="card">
      <app-candidate
        [nome]="candidato.nome"
        [foto]="candidato.foto"
        [quantidadeVotos]="candidato.quantidadeVotos"
      />
      <button class="votar" (click)="votar(candidato)">Votar</button>
    </div>
    }
    <div class="card adicionar" (click)="abrirModal()">
      <div class="nome">Adicionar</div>
      <div class="icone">＋</div>
    </div>
  </div>
</div>

<!-- Modal -->
@if(mostrarModal){
<div class="modal-backdrop">
  <div class="modal">
    <label>Nome</label>
    <input [(ngModel)]="novoCandidato.nome" type="text" />

    <label>Link da foto</label>
    <input [(ngModel)]="novoCandidato.foto" type="text" />

    <button class="criar" (click)="adicionarCandidato()">Criar</button>
  </div>
</div>
}
